body {
    background-color:  rgb(0, 0, 0);
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 10px;
    overflow: hidden;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_header{
    margin: 0px auto;
    padding: 0px auto;

}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.center-this{
    margin:auto;
    max-width: 300px;
    
}
#container{
  position: absolute;
  top: 28%;
  left:50%;
  transform: translate(-50%,-50%);
}

.input_group input{
    
}
#title-logo{
    color:white;
    position: absolute;
    top: 15%;
    left:50%;
    transform: translate(-50%,-50%);
}

}
